.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: #9353FF;
}

.verde-limao {
    color: #98b013;
}


@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}